DEVICE_IP="192.168.1.241"
MGMT_FALLBACK_IP="192.168.3.1"
RADIO0_DISABLED="0"
RADIO1_DISABLED="1"
STA_DEVICE="radio0"
STA_SSID="MyHomeWiFi"
STA_ENCRYPTION="sae"
STA_KEY="MyWiFiPassword"
AP_ENABLED="0"
