DEVICE_IP="192.168.1.242"
MGMT_FALLBACK_IP="192.168.4.1"
RADIO0_DISABLED="1"
RADIO1_DISABLED="0"
RADIO1_COUNTRY="US"
STA_DEVICE="radio1"
STA_SSID="MyHomeWiFi"
STA_ENCRYPTION="sae"
STA_KEY="MyWiFiPassword"
AP_ENABLED="1"
AP_DEVICE="radio1"
AP_SSID="MyHomeWiFi-EXT"
AP_ENCRYPTION="sae-mixed"
AP_KEY="MyWiFiPassword"
