DEVICE_IP="192.168.1.240"
MGMT_FALLBACK_IP="192.168.2.1"
RADIO0_DISABLED="0"
RADIO1_DISABLED="1"
STA_DEVICE="radio0"
STA_SSID="MyHomeWiFi"
STA_ENCRYPTION="sae"
STA_KEY="MyWiFiPassword"
AP_ENABLED="1"
AP_DEVICE="radio0"
AP_SSID="MyGardenWiFi"
AP_ENCRYPTION="psk2"
AP_KEY="MyWiFiPassword"
